/*

# BEM (BLOCK, ELEMENT, MODIFIER) METHEDOLOGY

<div class="card card--show">
  <div class="card__title"></div>
  <div class="card__container">

  </div>
</div>

.card - BLOCK

.card__title - ELEMENT

.card--show - MODIFIER

*/


/* RESET styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.no--select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

h3 {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* MAIN styles */

body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
}

.spinner {
  text-align: center;
}

.app-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  height: 56px;
  top: 0;
  background-color: #1E88E5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.app__offline {
  background-color: #6b6b6b;
}

.header__icon {
  width: 48px;
  height: 48px;
  margin: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.header__icon:active {
  opacity: 0.8;
  outline: 1px solid #fff;
}

.header__title {
  color: #fff;
  font-size: 20px;
  -ms-flex-item-align: center;
  align-self: center;
}

.menu {
  width: 280px;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  -webkit-transition: -webkit-transform 0.33s cubic-bezier(0, 0, 0.30, 1);
  transition: -webkit-transform 0.33s cubic-bezier(0, 0, 0.30, 1);
  transition: transform 0.33s cubic-bezier(0, 0, 0.30, 1);
  transition: transform 0.33s cubic-bezier(0, 0, 0.30, 1), -webkit-transform 0.33s cubic-bezier(0, 0, 0.30, 1);
  -webkit-transform: translateX(-103%);
  transform: translateX(-103%);
  will-change: transform;
  z-index: 2;
}

.menu--show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu__overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.15s cubic-bezier(0, 0, 0.30, 1);
  transition: opacity 0.15s cubic-bezier(0, 0, 0.30, 1);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.menu__overlay--show {
  visibility: visible;
  opacity: 1;
}

.menu__header {
  height: 150px;
  background: #1E88E5;
  color: #fff;
  border-bottom: 1px solid #ddd;
}

.menu__list {
  width: inherit;
  height: inherit;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.menu__list li a {
  padding: 20px;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  display: block;
}

.menu__list li a:active,
.menu__list li a:hover {
  background: #e7e7e7;
}

.app__content {
  width: 320px;
  height: 100%;
  margin: 0 auto;
  margin-top: 56px;
  padding-top: 10px;
}

.snackbar {
  position: fixed;
  bottom: -50px;
  left: 0;
  right: 0;
  width: 280px;
  min-height: 50px;
  background: #323232;
  color: #fff;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: bottom 0.33s cubic-bezier(0, 0, 0.30, 1);
  transition: bottom 0.33s cubic-bezier(0, 0, 0.30, 1);
  will-change: transform;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 2px;
}

.snackbar--show {
  bottom: 0;
}

.snackbar__msg {
  margin-left: 15px;
  margin-right: 10px;
  word-break: break-all;
}

.snackbar__action {
  text-transform: uppercase;
  color: #f00;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 15px;
}

button {
  min-width: 100px;
  height: 40px;
  font-size: 14px;
  border: 0;
  background: #4F8EFA;
  color: #fff;
  border-radius: 2px;
  margin: 0 auto -5px;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
  -webkit-user-select: none;
}

button:active {
  box-shadow: none;
}

button:disabled {
  background: #ccc;
  color: #000;
  cursor: not-allowed;
}

.custom__checkbox {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 16px;
  border-radius: 8px;
  background: rgb(195, 195, 195);
  -webkit-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
  margin: 10px 14px 13px;
}

.custom__checkbox::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -4px;
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.51);
}

.custom__button p {
  position: initial;
  margin: 0;
  padding-left: 10px;
}

.custom__button {
  padding: 10px 15px;
  font-family: 'Roboto', arial, sans-serif;
  text-align: left;
}

.custom__input:checked + .custom__checkbox {
  background: rgb(195, 195, 195);
}

.custom__input:checked + .custom__checkbox::before {
  left: 25px;
  background: #0288d1;
}

.card__container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  width: 280px;
  min-height: 200px;
  background: #fff;
  margin: 20px auto;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  font-family: 'Roboto', arial, sans-serif;
}

.card__title,
.card__desc {
  display: block;
  font-style: italic;
  font-size: 14px;
  text-align: center;
}

.card__title {
  margin-left: 5px;
  font-weight: 500;
}

.card__temp {
  padding: 20px;
  padding-bottom: 10px;
}

.card__following,
.card__followers {
  padding: 10px 20px 5px;
}

.card__desc {
  padding: 12px 15px;
  vertical-align: top;
}

.card__img {
  width: 60px;
  height: 60px;
  display: block;
  margin: 20px auto 10px;
  border-radius: 50%;
}

.card b {
  margin-right: 5px;
}

.card__temp,
.card__followers,
.card__following {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 5px;
}

.card__followers {
  margin-bottom: 20px;
}

.fab {
  position: fixed;
  right: 25px;
  width: 56px;
  height: 56px;
  background: #0288d1;
  cursor: pointer;
  bottom: 25px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  display: block;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
  font-size:1.5em;
  min-width: initial;
  -webkit-tap-highlight-color: transparent;
}

.fab:active {
  background: rgba(2, 136, 209, 0.91);
}

.add__card {
  margin: 40px auto;
  text-align: center;
  margin-bottom: 100px;
}

.add__input {
  width: 170px;
  height: 35px;
  border: 1px solid #ccc;
  padding-left: 10px;
  font-size: 13px;
  display: block;
  margin: 10px auto;
}

.add__btn {
  height: 34px;
  min-width: 70px;
  margin-top: 10px;
  display: block;
  margin-left: 0;
}

.add__card ul,
.add__card li {
  width: 280px;
  list-style-type: decimal;
  text-align: left;
  margin: 15px auto;
}

.add__card p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 40px;
}

.card span {
  display: block;
}

.add__to-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.bg-sync__text {
  font-size: 12px;
  padding-left: 5px;
  color: #008000;
}


.custom__button-bg {
  width: 90px;
  display: inline-block;
  margin: 0;
  padding: 0;
  float: right;
  margin-top: -6px;
}
