* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background: #F8F8F8;
}

ul, li {
  list-style-type: none;
}

.menu-icon {
  fill: #fff;
  padding-top: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.header {
  position: fixed;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  background: #2e2f33;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  font-size: 22px;
  padding-left: 10px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.header span {
  display: inline-block;
  vertical-align: top;
  line-height: 59px;
  padding-left: 25px;
}

#menu {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #FAFAFA;
  border-right: 1px solid #e0e0e0;
  will-change: transform;
  overflow-y: auto;
  -webkit-transform: translateX(-280px);
  -ms-transform: translateX(-280px);
  transform: translateX(-280px);
  transition: 200ms all ease-in;
  z-index: 11;
}

#menu.visible {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

#menu-overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.14);
  width: 100%;
  height: 100%;
  z-index: 10;
  visibility: hidden;
}

#menu a {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #C8C8C8;
  text-align: left;
  padding-left: 25px;
  cursor: pointer;
  color: #424242;
}

#menu li:first-of-type a {
  border-bottom: 0;
  font-size: 20px;
  font-weight: bold;
}

#menu li:first-of-type a:hover {
  text-decoration: none;
}

#menu li:last-of-type {
  margin-top: 80px;
  padding-left: 20px;
}

#menu li p {
  position: absolute;
  bottom: 0;
  left: 20px;
}

#menu a:hover,
#menu a:focus {
  background: #EEEEEF;
}

#menu-overlay.visible {
  visibility: visible;
}

.container {
  width: 260px;
  min-height: 120px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  color: #000;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.container a:hover {
  text-decoration: underline;
}

#main {
  margin-top: 80px;
}

#main span {
  font-weight: 500;
  text-transform: capitalize;
}


p {
  margin-bottom: 20px;
}
