/* RESET styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* MAIN styles */

body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
}

.spinner {
  text-align: center;
}

.app-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  height: 56px;
  top: 0;
  background: #1E88E5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  user-select: none;
}

header.offline {
  background: #6b6b6b;
}

.header-icon {
  width: 48px;
  height: 48px;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-icon:active {
  opacity: 0.8;
  outline: 1px solid #fff;
}

.header-title {
  color: #fff;
  font-size: 20px;
  align-self: center;
}

.menu {
  width: 280px;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: transform 0.33s cubic-bezier(0, 0, 0.30, 1);
  transform: translateX(-103%);
  will-change: transform;
  z-index: 2;
}

.menu.show {
  transform: translateX(0);
}

.menu-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.15s cubic-bezier(0, 0, 0.30, 1);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.menu-overlay.show {
  visibility: visible;
  opacity: 1;
}

.menu-header {
  height: 150px;
  background: #1E88E5;
  color: #fff;
  border-bottom: 1px solid #ddd;
}

.menu-list {
  width: inherit;
  height: inherit;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.menu-list li a {
  padding: 20px;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  display: block;
}

.menu-list li a:active,
.menu-list li a:hover {
  background: #e7e7e7;
}

.app-content {
  width: 100%;
  height: 100%;
  margin-top: 56px;
  padding-top: 10px;
}

.snack-bar {
  position: fixed;
  bottom: -50px;
  left: 0;
  right: 0;
  width: 260px;
  min-height: 50px;
  background: #323232;
  color: #fff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: bottom 0.33s cubic-bezier(0, 0, 0.30, 1);
  will-change: transform;
}

.snack-bar.show {
  bottom: 0;
}

.snack-bar-msg {
  margin-left: 15px;
  margin-right: 10px;
  word-break: break-all;
}

.snack-bar-action {
  text-transform: uppercase;
  color: #f00;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  margin-right: 15px;
}

button {
  min-width: 100px;
  height: 40px;
  font-size: 14px;
  border: 0;
  background: #4F8EFA;
  color: #fff;
  border-radius: 2px;
  margin: 0 auto -5px;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
}

button:active {
  box-shadow: none;
}

button:disabled {
  background: #ccc;
  color: #000;
  cursor: not-allowed;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 16px;
  border-radius: 8px;
  background: rgb(195, 195, 195);
  -webkit-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
  margin: 10px 14px 13px;
}

.custom-checkbox::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -4px;
  width: 22px;
  height: 22px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.51);
}

.custom-button p {
  position: initial;
  margin: 0;
  padding-left: 10px;
}

.custom-button {
  padding: 10px 15px;
  font-family: 'Roboto', arial, sans-serif;
  text-align: center;
}

.custom-input:checked + .custom-checkbox {
  background: rgb(195, 195, 195);
}

.custom-input:checked + .custom-checkbox::before {
  left: 25px;
  background: #0288d1;
}

.card-container {
  margin-top: 30px;
}

.card {
  width: 280px;
  min-height: 200px;
  background: #fff;
  margin: 20px auto;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22);
  border-radius: 2px;
  font-family: 'Roboto', arial, sans-serif;
}

.card-title {
  font-weight: 500;
  font-size: 18px;
  padding-top: 15px;
}

.card p {
  padding-left: 15px;
  padding-bottom: 15px;
}

.disable-log {
  margin-left: 20px;
  user-select: none;
  -webkit-user-select: none;
}
